/*stylesheet*/
.allContent {background-color:#fff; margin-left:150px;}
.header {width:650px; }
.name {border:1px solid #000; width:300px; color: #fff; background-color: teal; padding:2px 5px 10px 10px; float:left; width:145px; height:45px; vertical-align: center; font-size: 11px;}
.nav {float:right; padding-top:20px; padding-bottom:10px;}
.title {color:teal; font-weight: bolder; font-size: 18px; }
.image {}
h1 {color:#fff; margin:0 auto;}
h3 {color:teal; margin:0 auto;}
.content {}
.contentContainer {clear:both; margin-top:13px; background-color:#c0c0c0;border-top: 2px solid black; max-width:650px;padding:8px 8px 0px 8px; min-height:520px;}
.image {float:left; padding-right: 5px;}
.copy {font-family: georgia,serif; right; line-height: 1.5}
.contentArea {background-color: #fff; margin:10px 3px 0px 3px; padding:25px; float:left; max-width:400px;}
.sidebar {float:right; width:180px; height:250px; background-color: #fff; margin-top:10px; padding: 2px 3px 5px 5px;}
.footerContainer {clear:both; background-color:#dddddd; height: 150px; width:650; padding:0;}
/*.footer {background-color:black; height:190px; width:650px; margin-top:9px;}*/
.footer {background-color:#666666;height:100px; width:650px; margin-top:5px;border-top: 5px solid #499995;text-align: center;}